@model Nhóm4_SHOOS_Shop.Models.GIAOHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GIAOHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENTAIXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTAIXE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHTOAN.HINHTHUCTHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHTOAN.HINHTHUCTHANHTOAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAGH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
