@model Nhóm4_SHOOS_Shop.Models.CHITIETDH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITIETDH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANG.GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANG.GHICHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MACTDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
