@model IEnumerable<Nhóm4_SHOOS_Shop.Models.CHITIETDH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATHANG.GHICHU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATHANG.GHICHU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MACTDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MACTDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MACTDH })
        </td>
    </tr>
}

</table>
