@model IEnumerable<Nhóm4_SHOOS_Shop.Models.SANPHAM>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col">
            <img class="img-fluid" src="~/Images/@item.HINH" />
        </div>
        <div class="col px-5 d-flex flex-column justify-content-around">
            <div class="top-container">
                <h1>@item.TENSP</h1>
                <div class="d-flex flex-row">
                    <b>Thương hiệu:</b>
                    <div class="mx-2">@item.THUONGHIEU.TENTH</div>
                </div>
                <p>
                    <div class="mb-2">
                        <b>Mô tả:</b>
                        <p>@item.MOTA</p>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <b>Màu sắc:</b>
                        <div class="mx-2">@item.MAUSAC</div>
                    </div>
                    <div class="d-flex flex-row mb-4">
                        <b>Kích cỡ:</b>
                        <div class="mx-2">@item.KICHCO</div>
                    </div>
                    <div class="d-flex flex-row mb-4">
                        <b class="my-2">Số lượng:</b>
                        <div class="px-4 d-flex flex-row">
                            <a class="bg-secondary bg-opacity-10 px-3 py-2 text-decoration-none text-dark" id="add_quantity" style="border-radius: 100px">+</a>
                            <a class="px-3 py-2 text-decoration-none text-dark">1</a>
                            <a class="bg-secondary bg-opacity-10 px-3 py-2 text-decoration-none text-dark" id="add_quantity" style="border-radius: 100px">-</a>
                        </div>
                        <div class="text-secondary opacity-50 px-2 my-2">Còn @item.SL sản phẩm</div>
                    </div>
                    <div class="fs-1 fw-light">
                        @item.GIA VND
                    </div>
                </p>
                @Html.ActionLink("Thêm giỏ hàng", "", "", new { id = item.MASP }, new { @class = "btn btn-outline-dark p-3 w-100 mb-2" })
                @Html.ActionLink("Đặt hàng", "", "", new { id = item.MASP }, new { @class = "btn btn-warning p-3 w-100" })
            </div>
            <div class="bot-container">
                <div class="w-100 p-3" style="border-radius: 20px; background: #e9e9e9">
                    Chúng tôi rất lấy làm tiếc nếu quý khách có những trải nghiệm không tốt về sản phẩm và xin lỗi về những bất tiện trong
                    quá trình mua sắm. Mọi chi tiết xin vui lòng liên hệ với chúng tôi để được tư vấn hỗ trợ và giải đáp thắc mắc.
                </div>
            </div>
        </div>
    }
</div>
