@model Nhóm4_SHOOS_Shop.Models.THANHTOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THANHTOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYTHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHTHUCTHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTHUCTHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOADON.MAHD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOADON.MAHD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THE.SOTHE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THE.SOTHE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
